<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>cctv camera website</title>
  <script src="https://kit.fontawesome.com/2f07377952.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="icon" href="images/icon.jpg">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="first-navbar">
    <a class="navbar-brand" href="#"><i class="fas fa-camera fa-3x"></i></a>
    <button id="navbar-anchor" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a id="navbar-anchor" class="nav-item nav-link" href="mailto:nisargprajapati202@gmail.com">Mail Me</a>
        <a id="navbar-anchor" class="nav-item nav-link" href="tel:7573860509">Call Me</a>
      </div>
    </div>
  </nav>

  <div id="first-navbar" class="outer">
    <div class="inner">
      <h1 id="heading">Welcome to our cctv camera store</h1>
      <form class="form-section" action="/" method="post">
        <input id="input" type="email" name="email" value="" class="form-control" placeholder="Enter your email address" required autocomplete="off">
          <button type="submit" id="first-button" class="button btn btn-outline-danger">Subscribe Me!</button>
      </form>
    </div>
  </div>

<h2 id="first-button">Our Items</h2>
  <div class="row top">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="first" src="images/domecamera.jpg" alt="dome-camera-img">
      <h4 id="text" class="price-left">$ 1</h4>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 id="first-button">Internal and External Dome Camera</h2>
      <h4 id="text">The dome camera is one most commonly used for indoor and outdoor security and surveillance. The shape of the camera makes it difficult for onlookers to tell which way the camera is facing, which is a strong piece of design, deterring criminals by creating an air of uncertainty.</h4>
    </div>
  </div>

  <div class="row top">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 id="first-button">Bullet Camera</h2>
      <h4 id="text">Bullet cameras are long and cylindrical in shape and are ideal for outdoor use. Their strengths lie specifically in applications which require long distance viewing. Installed within protective casings, the cameras are shielded against dust, dirt and other natural elements. The cameras can easily be mounted with a mounting bracket, and come fitted with either fixed or varifocal lenses depending on the requirements of its intended application.</h4>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
          <img class="second" src="images/bulletcamera.jpg" alt="bullet-camera-img">
          <h4 id="text" class="price-right">$ 5</h4>
      </div>
  </div>

  <div class="row top">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="first" src="images/cmountcamera.jpg" alt="cmount-camera-img">
      <h4 id="text" class="price-left">$ 15</h4>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 id="first-button">C-mount Camera</h2>
      <h4 id="text">Coming with detachable lenses, C-mount cameras allow for simple lens changes to fit different applications. C-mount cameras can cover distances beyond 40 ft thanks to the possibility to use special lenses with these cameras, whereas standard CCTV lenses can only cover distances of 35-40 ft.</h4>
    </div>
  </div>

  <div class="row top">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 id="first-button">Day/Night Camera</h2>
      <h4 id="text">Capable of operating in both normal and poorly lit environments, these cameras benefit from not requiring inbuilt infrared illuminators as they can capture clear video images in the dark thanks to their extra sensitive imaging chips. For this reason, these cameras are ideal for outdoor surveillance applications in which IR cameras are unable to function optimally.</h4>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
          <img class="second" src="images/daynightcamera.jpg" alt="daynight-camera-img">
          <h4 id="text" class="price-right">$ 20</h4>
      </div>
  </div>

  <h2 id="first-button" class="review">Customer Review</h2>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="testenomial carousel-inner">
    <div class="fontawesome carousel-item active">
      <i id="man-icon" class="fas fa-user fa-7x"></i>
      <h3 id="first-button">superb seller</h3>
      <p id="first-button">💛💛💛💛💛</p>
    </div>
    <div class="fontawesome carousel-item">
      <i id="man-icon" class="fas fa-user fa-7x"></i>
      <h3 id="first-button">Give a service at a time</h3>
      <p id="first-button">💛💛💛💛💛</p>
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
    </div>
    <div class="fontawesome carousel-item">
      <i id="man-icon" class="fas fa-user fa-7x"></i>
      <h3 id="first-button">Good Nature</h3>
      <p id="first-button">💛💛💛💛💛</p>
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h2 id="first-button">Follow Me</h2>
<div class="last">
  <h5 id="text">Hello everyone, I am nisarg. A web developer. If you like this webpage so, subscribe me. Also If you want to make some website so contact me.</h5>
<a href="https://twitter.com/nisarg70820916"><i id="social-icon" class="icon fab fa-twitter fa-2x"></i></a>
  <a href="https://www.facebook.com/nisarg.prajapati.750"><i id="social-icon" class="icon fab fa-facebook-f fa-2x"></i></a>
  <a href="https://www.instagram.com/nisargprajapati202"><i id="social-icon" class="icon fab fa-instagram fa-2x"></i></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>
